# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
*.tfvars


# Node 
node_modules/
**/node_modules/
npm-debug.log*
**/dist/

.DS_Store

# Server and environment variables
services/api/.env
services/api/node_modules
.env
**/.envapps/api/.env
**/.env

**/.envapps/web/.env.local
**/.envapps/web/.env.development.local
infra/terraform/envs/main/site/**
!infra/terraform/envs/main/site/.gitkeep
infra/terraform/envs/main/api.zip


.DS_Store
Thumbs.db
.vscode/
.idea/
*.log


